.center {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}

.input {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  width: 100%;
  font-family: 'Chakra Petch', Consolas, monospace; // ARK STATION EDIT
}
