@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("ChakraPetch-Medium.ttf");
	  }

* {
	font-family: "Chakra Petch", Tahoma, sans-serif;
}

body {
	font-family: "Chakra Petch", Tahoma, sans-serif; /* ARK STATION EDIT */
	font-size: 14px !important; /* ARK STATION EDIT */
	color: #1C1D22; /* ARK STATION EDIT */
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	overflow-y: scroll;
}

body.dark {
	background-color: #1c1d22; /* ARK STATION EDIT */
	color: #e6f1ff; /* ARK STATION EDIT */
	scrollbar-base-color: #1c1d22; /* ARK STATION EDIT */
	scrollbar-face-color: #2e3138; /* ARK STATION EDIT */
	scrollbar-3dlight-color: #25272d; /* ARK STATION EDIT */
	scrollbar-highlight-color: #25272d; /* ARK STATION EDIT */
	scrollbar-track-color: #1c1d22; /* ARK STATION EDIT */
	scrollbar-arrow-color: #535765; /* ARK STATION EDIT */
	scrollbar-shadow-color: #2e3138; /* ARK STATION EDIT */
}

#menu {
	background-color: #F0F0F0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.dark #menu {
	background-color: #1C1D22; /* ARK STATION EDIT */
}

#statcontent {
	padding: 7px 7px 7px 7px;
}

a {
	color: black;
	text-decoration: none
}

.dark a {
	color: #e6f1ff; /* ARK STATION EDIT */
}

a:hover {
	color: #007fff;
}

h3 {
	margin: 0 -0.5em 0.25em;
	padding: 1em 0.66em 0.5em;
	border-bottom: 0.1667em solid;
}


img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

.stat-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#menu {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.25em 0.25em 0;
	background-color: #ffffff;
}

.button {
	background-color: #eaeaea; /* ARK STATION EDIT */
	color: rgba(0, 0, 0, 0.7);
	border: 0; /* ARK STATION EDIT */
	padding: 6px 4px 4px;
	text-align: center;
	text-decoration: none;
	font-size: 14px; /* ARK STATION EDIT */
	margin: 0;
	cursor: pointer;
	transition-duration: 100ms;
	order: 3;
	min-width: 40px;
}

.dark button {
	background-color: #1C1D22; /* ARK STATION EDIT */
	border-color: #1C1D22; /* ARK STATION EDIT */
	color: rgba(255, 255, 255, 0.5);
}

.button:hover {
	background-color: #ececec;
	transition-duration: 0;
}

.dark button:hover {
	background-color: #494C5A; /* ARK STATION EDIT */
}

.button.active {
	background-color: #dfdfdf;
	color: black;
	border-bottom-color: #000000;
}

#under-menu {
	height: 0.5em;
	background-color: #eeeeee;
}

.dark .button:active,
.dark .button.active {
	background-color: #1C1D22; /* ARK STATION EDIT */
	color: white;
	border-top-color: #000000; /* ARK STATION EDIT */
	border-left-color: #000000; /* ARK STATION EDIT */
	border-right-color: #000000; /* ARK STATION EDIT */
	border-bottom-color: #ffffff;
}

.grid-container {
	margin: 0;
}

.grid-item {
	display: inline-flex;
	position: relative;
	user-select: none;
	-ms-user-select: none; /* Remove after Byond 516 */
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	background-color: transparent;
	color: black;
}

.grid-item:hover {
	color: #003399;
	z-index: 1;
}

.grid-item-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	white-space: nowrap;
	width: 100%;
	padding: 0.33em 0.5em;
	border-radius: 0.25em;
}

.grid-item-text:hover {
	position: absolute;
	top: -1.33em;
	white-space: normal;
	background-color: #ececec;
}

.grid-item-text:active {
	background-color: #dfdfdf;
}

@media only screen and (min-width: 300px) {
	.grid-item {
		width: 50%;
	}
}

@media only screen and (min-width: 430px) {
	.grid-item {
		width: 33%;
	}
}

@media only screen and (min-width: 560px) {
	.grid-item {
		width: 25%;
	}
}

@media only screen and (min-width: 770px) {
	.grid-item {
		width: 20%;
	}
}

.status-info {
	margin: 0 0.33em 0.25em;
}

.interview_panel_stats,
.interview_panel_controls {
	margin-bottom: 1em;
}

/* Dark theme colors */
body.dark {
	background-color: #131313;
	color: #b2c4dd;
	scrollbar-base-color: #1c1c1c;
	scrollbar-face-color: #3b3b3b;
	scrollbar-3dlight-color: #252525;
	scrollbar-highlight-color: #252525;
	scrollbar-track-color: #1c1c1c;
	scrollbar-arrow-color: #929292;
	scrollbar-shadow-color: #3b3b3b;
}

.dark a {
	color: #6699ff;
}

.dark a:hover,
.dark .grid-item:hover {
	color: #80bfff;
}

.dark .grid-item-text {
	background-color: #1C1D22; /* ARK STATION EDIT */
}

.link {
	display: inline;
	background: none;
	border: none;
	padding: 7px 14px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px; /* ARK STATION EDIT */
	margin: 2px 2px;
}

.dark .button:hover {
	background-color: #252525;
}

.dark .button.active  {
	background-color: #313131;
	color: #d4dfec;
	border-bottom-color: #d4dfec;
}

.dark #under-menu {
	background-color: #202020;
}

.dark .grid-item{
	color: #b2c4dd;
}

.dark .grid-item-text:hover {
	background-color: #252525;
}

.dark  .grid-item-text:active {
	background-color: #313131;
}
