@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("ChakraPetch-Medium.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url("ChakraPetch-MediumItalic.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("ChakraPetch-SemiBold.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("ChakraPetch-SemiBoldItalic.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("ChakraPetch-Bold.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("ChakraPetch-BoldItalic.ttf");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("IBMPlexSans-Medium.ttf");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url("IBMPlexSans-MediumItalic.ttf");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("IBMPlexSans-SemiBold.ttf");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("IBMPlexSans-SemiBoldItalic.ttf");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("IBMPlexSans-Bold.ttf");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("IBMPlexSans-BoldItalic.ttf");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("TitilliumWeb-Regular.ttf");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("TitilliumWeb-Italic.ttf");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("TitilliumWeb-SemiBold.ttf");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("TitilliumWeb-SemiBoldItalic.ttf");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("TitilliumWeb-Bold.ttf");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("TitilliumWeb-BoldItalic.ttf");
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("UbuntuMono-Regular.ttf");
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("UbuntuMono-Italic.ttf");
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("UbuntuMono-Bold.ttf");
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("UbuntuMono-BoldItalic.ttf");
}
